
DB_TYPE=sqlite


MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=novel_app_db


MYSQL_SSL_DISABLED=false


MYSQL_INIT_SQL=setup_railway.sql


UPLOAD_DIR=./uploads


ADMIN_USERNAME=admin_Supun
ADMIN_PASSWORD=Ux3@f=7x2
ADMIN_TOKEN_EXPIRES_HOURS=24


JWT_SECRET=82543ee8aae0ba248616ced4a528763f56921b9385bf4bf6ff295047abaed097


GOOGLE_CLIENT_ID=470949991659-g0e2qag6lsh4p9qtaaght65pal649aa8.apps.googleusercontent.com
